$head-bg-color: #272727;
$head-border-color: #747474;
$head-text-color: #ffe400;
$footer-bg-color: #272727;
$footer-border-color: #747474;
$footer-text-color: #ffe400;
$home-bg-color: #272727;
$home-text-color: #ff652f;
$home-text-border-color: #ff652f;
$nav-bg-color: #272727;
$nav-text-color: #14a76c;
$nav-border-color: #747474;
$search-bg-color: #272727;
$search-text-title-color: #ff652f;
$search-text-ingr-color: #747474;
$search-text-list-color: #ff652f;
$roll-bg-color: #272727;
$roll-text-title-color: #ff652f;