.roll-content {
    width: 100%;
    min-height: 85vh;
    background-color: $roll-bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;

    h2 {
        font-size: 2rem;
        font-family: sans-serif;
        color: $roll-text-title-color;
        margin-bottom: 2rem;
    }

    .rolledDrink {
        span {
            font-size: 2rem;
            color: $roll-preparation-text-color;
        }

        .preparation-hidden {
            display: none;
        }

        .preparation-show {
            display: block;

            p {
                color: $roll-preparation-text-color;
                font-size: 1.5rem;
            }

            ul {
                margin-bottom: 1rem;

                li {
                    color: $roll-preparation-text-color;
                    font-size: 1.5rem;
                }
            }

        }
    }

    .btns {
        width: 40rem;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        [class^="btn"] {
            padding: .5rem 2rem;
            border: none;
            border-bottom: .1rem double $roll-btn-border-color;
            border-radius: 2rem;
            background-color: $roll-btn-bg-color;
            color: $roll-btn-text-color;

            &:focus {
                outline: .1rem solid $roll-btn-text-color;
            }
        }

        & .hide {
            display: none;
        }
    }
}