.search-content {
    width: 100%;
    min-height: 85vh;
    background-color: $search-bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;

    h2 {
        font-size: 2rem;
        font-family: sans-serif;
        color: $search-text-title-color;
        margin-bottom: 2rem;
    }

    .search-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;

        .ingredients {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            p {
                color: $search-text-ingr-color;
                font-size: 1.5rem;
                font-family: sans-serif;
                margin-bottom: .5rem;
            }

            .ingredients_base {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
            }

            .ingredients_others {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
            }
        }
    }
}

.drinks-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%;

    p {
        color: $search-text-list-color;
        font-size: 2rem;
        font-family: sans-serif;
        margin-bottom: 2rem;
    }

    .list-found {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;

        .list-found_elements {
            color: $search-text-list-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            font-size: 1.5rem;
            cursor: pointer;

            .none {
                display: none;
            }

            .show {
                display: block;
                position: absolute;
                background-color: $search-recipe-bg-color;
                width: 30rem;
                top: 5rem;
                left: -10rem;

            }
        }


    }

}